<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Consent form</title>
    
</head>

<body style="padding-left: 20px; padding-right: 20px;">

    <h1 style="text-align: center;">Consent form</h1>

    <p><b>Project title: Explainable Semantic Textual Similarity using attention and siamese networks: User
            evaluation</b></p>
    <p><b>Principal Investigator:</b> Jiarong Cui {Jiarong.cui@dal.ca}(902-412-8502)</p>
    <p><b>Supervisors:</b> Dr. Evangelos Milios (eem@cs.dal.ca) (902-494-7111)</p>
    <p>Faculty of Computer Science, Dalhousie University, 6050 University Ave., PO Box 15000, Halifax, NS, B3H 4R2,
        Canada.</p>
    <p><b>Contact:</b> JIarong Cui {Jiarong.cui@dal.ca}(902-412-8502)</p>

    <p>You are invited to participate in a research study being conducted by Jiarong Cui who is a Master of Computer
        Science student at the Faculty of Computer Science, Dalhousie University. This study is being done as part of a
        research project.
    </p>

    <p>The information in this consent form will outline any possible risks, inconvenience and discomfort that you might
        experience.
    </p>

    <p>Participation is voluntary, and participants are free to withdraw at any time without repercussions. If you have
        any concerns and questions about the study, please do not hesitate to ask the principal investigator.
    </p>

    <p><b>Purpose</b> In the last few years, Artificial Intelligence (AI) keeps coming to the attention of researchers.
        However, more and more AI models are recognized to be "black box" models because of their opaque, complex
        internal structure. To explain the model performance and build user trust, we propose an interactive tool whose
        dynamic analysis can help the user better gain knowledge of the model-internal reasoning process. Our
        interactive tool exploits the state-of-the-art deep neural language model. The proposed method first extracts
        the information of essential layers and heads from the AI model. Then our model summarizes information as the
        similarity score. Based on the similarity score, our model will retrieve the ranking list. Finally, Our specific
        explanation visualizes the internal process of the model in a manner that explains to the user “Why does this
        particular input lead to that particular output". We are expecting our proposed application will help the user
        understand the relationship of input and output of the AI model and how the AI model arrived with the resulting
        decisions on the input features.The study is an exploration to determine the correctness of the resume
        classification system result and to evaluate its interpretability and veracity among different users.
    </p>

    <p><b>Study Design </b>The principal investigator will analyze the application mistakes that the participants find
        during the experiments in order to design a better interface for aiding users to study the underlying
        relationship of input and output of the AI model. The principal investigator will also analyze the participant’s
        feedback, operation process and questionnaires.
    </p>

    <p><b>Who can participate in the study </b>You may participate in this study if you are a Dalhousie University
         student at the Faculty of Computer Science. This is a user interface to allow the user to understand
        the relationship of the input and output of the AI model in this case. You should be able to play around with
        the interfaces. The study will evaluate the interpretation and correctness of the system.
    </p>

    <p><b>Who will conduct the research </b>Jiarong Cui, an MCS student from the Faculty of Computer Science, Dalhousie
        University, will be conducting the research, i.e., distributing and collecting questionnaires, introducing and
        demonstrating the software, and answering questions.
    </p>

    <p><b>Possible risks and discomforts </b>No extraordinary risks are anticipated in the present study. The risk is
        expected to be no more than that of everyday life. Your name will not be connected to the data collected from
        you. The 60 minutes might make you a little bit tired. But there will be breaks in between sessions.
    </p>

    <p><b>Possible benefits </b>Your participation will be greatly appreciated, and we expect that it will help us to
        learn better how users can interact with the resume classification systems and develop new features to aid
        people in understanding the complex AI model better.
    </p>

    <p><b>What you will be asked to do </b>There will be a short training on the tasks and system used in the study by
        using Youtube video. Then you will select one occupation unit group in the dropdown list and find any mistake
        that the application made. After that, you will answer the questionnaires about the job type you performed. It
        is expected that the whole process will take about 60 minutes which includes the system demonstration time. The
        user study is implemented as a web page and whole processing is online.
    </p>

    <ul>
        <li><b>You will read the consent form and click the “I agree to participate” button in an initial screen</b>
        </li>
        <li><b>You will be given a tutorial on how to use the software.</b></li>
        <li>You will be given a practice session to use the application.</li>
        <li>You will be given the evaluation questionnaire.</li>
        <li>You will evaluate the application online.</li>
        <li>You will submit the post-study questionnaire and comments.</li>
    </ul>

    <p>If you wish to participate in the study then please:</p>
    <ul><li>Read this consent form first and inform the principal investigator Jiarong.Cui@dal.ca</li></ul>
    <p>The principal investigator will keep the original copy of this consent form.</p>

    <p><b>Confidentiality </b>Your name and address will not be required when answering any of the questions. Any of
        your contact information will be discarded right after the study. All your non-sensitive anonymized data will be
        treated confidentially and stored in a secure location. Non-sensitive anonymized data gathered from this study
        may potentially be used in the publications. Those data will be retained for five years after publication and
        then destroyed. Your personal documents will not be stored in the system.
    </p>

    <p><b>Possible Follow-ups </b>There will be no follow-ups after the end of the study. No Personal Identification
        will be retained and will be completely discarded after the end of the study. In all cases, all your data will
        be treated anonymously in all publications. You will use and test a new system which is of private intellectual
        property and you agree to not disclose any details about the systems that you test.
    </p>

    <p><b>Questions </b>Please feel free to ask the principal investigator (Jiarong Cui{Jiarong.Cui@dal.ca}) about anything to do with the study before (or after) you give consent to participate.</p>

    <p>By click the “I agree to participate” button below, you are agreeing to the following statements:</p>
    <ul>
        <li>I understand that I may discontinue my participation at any point in the study.</li>
        <li>I have read and understood the procedure and nature of this study.</li>
        <li>I have had a chance to ask any questions I have about the study, and they have been answered.</li>
        <li>I am aware that all research material will be kept confidential.</li>
        <li>I agree to not disclose any detail about the tested systems to any other entity.</li>
        <li>My quotations will be used for the evaluation and improvement of the user interface and will not be quoted in any publications/presentations.
        <li> I understand that if I have any complaints about the experiment that I may contact:</li>
        <ul>    
            <li>Catherine Connors,</li>
            <li>Human Research Ethics/Integrity coordinator,</li>
            <li>Office of Research Ethics, Dalhousie University.</li>
            <li>Email: {catherine.connors@dal.ca}</li>
            <li>Phone: (902) 494-1462</li>
        </ul>
        <li>I hereby consent to voluntarily take part in this study.</li>
    </ul>

    <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='http://selene.research.cs.dal.ca:8060/eXSTS';">I agree to participate</button>

    <br><br><br>

</body>

</html>